.dwqa-question-stand-alone {
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  padding: 15px 20px 0 !important;
  margin-bottom: 30px;
  position: relative;
  word-wrap: break-word;
  border-radius: 5px;
  background: #fff;
}
.dwqa-question-stand-alone .dwqa-title {
  font-size: 24px;
  line-height: 1.3;
  margin-top: 5px;
}
.dwqa-question-stand-alone .dwqa-tags {
  margin-bottom: 20px;
}
.dwqa-question-stand-alone .dwqa-tags .dwqa-tag {
  background: #f3f3f3;
  padding: 2px 10px;
  margin-right: 5px;
  display: inline-block;
}
.dwqa-question-stand-alone .dwqa-tags .dwqa-tag:hover {
  background: #e5e5e5;
}
.dwqa-question-stand-alone .dwqa-tags .dwqa-tag a {
  color: #555;
}
.dwqa-question-stand-alone .dwqa-footer {
  margin: 15px -20px 0 -20px;
  padding: 20px 0;
  background: #fff;
  border-bottom: 0;
  border-top: 1px solid #eee;
  position: relative;
}
.dwqa-question-stand-alone .dwqa-footer-links {
  margin: 0 -20px 0 -20px;
  padding: 10px 20px;
  background: inherit;
  border-bottom: 0;
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
}
.dwqa-question-stand-alone .dwqa-footer-links a {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}
.dwqa-question-stand-alone .dwqa-footer-links a:hover {
  color: #555;
}
.dwqa-question-stand-alone .dwqa-footer-links .dwqa-links {
  display: block;
  float: left;
  margin: 0;
}
.dwqa-question-stand-alone .dwqa-footer-links .dwqa-actions {
  display: block;
  float: right;
  margin: 0;
}
.dwqa-question-stand-alone .dwqa-footer .dwqa-category {
  border-left: 1px solid #e5e5e5;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}
.dwqa-question-stand-alone .dwqa-footer .dwqa-date,
.dwqa-question-stand-alone .dwqa-footer .dwqa-category-name {
  color: #999;
  display: block;
  text-transform: capitalize;
}
.dwqa-question-stand-alone .dwqa-footer .dwqa-date a {
  color: #999;
}
.dwqa-question-stand-alone .dwqa-footer .author a,
.dwqa-question-stand-alone .dwqa-footer .dwqa-category-title {
  color: #555;
  font-weight: bold;
}
.dwqa-question-stand-alone .dwqa-author {
  position: relative;
  padding: 0 15px 0 70px;
  display: inline-block;
}
.dwqa-question-stand-alone .dwqa-author .avatar {
  width: 32px;
  height: 32px;
  padding: 3px;
  margin: 0 10px 0 0;
  border: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  left: 20px;
}
.dwqa-question-stand-alone .dwqa-content {
  position: relative;
}
.dwqa-question-stand-alone .dwqa-content .dwqa-content-inner {
  position: relative;
  max-height: 9999px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
.dwqa-question-stand-alone .dwqa-content .dwqa-content-inner.dim {
  max-height: 200px;
  overflow: hidden;
}

.dwqa-question-stand-alone .dwqa-content .dwqa-content-inner .show-more-end {
  text-align: center;
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 100;
  background-color: rgba(255,255,255,0.4);
  background-image: -moz-linear-gradient(top,rgba(255,255,255,0),#fff);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0)),to(#fff));
  background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),#fff);
  background-image: -o-linear-gradient(top,rgba(255,255,255,0),#fff);
  background-image: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fffff');
}
.dwqa-question-stand-alone .dwqa-content .dwqa-content-inner.dim .show-more-end {
  display: block;
}
.dwqa-question-stand-alone .dwqa-content .dwqa-content-inner .show-more-end {
  display: none;
}

.dwqa-question-stand-alone .dwqa-content .dwqa-read-more {
  text-align: center;
  cursor: pointer;
  bottom: 0.5em;
  z-index: 101;
  width: 100%;
  font-weight: bold;
}
.dwqa-question-stand-alone .dwqa-footer .dwqa-answer-btn {
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 20px 0 0;
  float: right;
}
.dwqa-question-stand-alone .dwqa-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 0;
  color: #555;
  background-color: #eee;
  border-color: #e5e5e5;
}
.dwqa-question-stand-alone .dwqa-btn:hover{
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-color: #C9C9C9;
}

/**
 * Embed question
 */
.dwqa-question-embed {
  clear: both;
  position: relative;
  border: 1px solid;
  border-color: #e9e9e9 #e2e2e2 #d1d1d1;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .15);
  min-height: 150px;
  margin: 5px 0;
  position: relative;
}
.dwqa-embed-setting {
  margin: 0 0 20px 0;
  overflow: hidden;
}
.dwqa-embed-setting p {
  margin: 0 0 10px 0;
}
.dwqa-embed-label {
  font-weight: bold;
}
.dwqa-embed-size {
  float: right;
}
.dwqa-embed-size small {
  color: #999;
  margin: 0 2px;
}
input[id*="dwqa-iframe-custom-"] {
  border-color: #ccc !important;
  padding: 3px !important;
  font-size: 11px !important;
  width: 60px !important;
  height: 22px !important;
  border-radius: 2px !important;
  margin: 0 !important;
}
#dwqa-iframe-preview {
  clear: both;
}
#dwqa-iframe-preview body {
  padding: 0;
}
.dwqa-embed-avatar {
  float: left;
  margin: 15px;
}
@media(max-width: 480px) {
  .dwqa-embed-avatar {
    float: none;
    text-align: center;
    margin: 10px 0 0 0;
  }
}
.dwqa-embed-content {
  display: block;
  font-size: 12px;
  padding: 10px 12px 0;
  position: relative;
}
.dwqa-embed-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 5px 0 0;
  word-wrap: break-word;
}
.dwqa-embed-title a {
  text-decoration: none;
  border-bottom: none !important;
}
.dwqa-embed-title a:hover {
  border-bottom: 1px dotted #b3b3b3 !important;
}
.dwqa-embed-summary {
  margin-top: 0;
  padding: 0 12px;
  clear: both;
}
.dwqa-embed-links {
  margin-top: 5px;
  position: relative;
}
.dwqa-embed-links a {
  color: #ababab !important;
  text-transform: uppercase;
  font-size: 10px;
  border-bottom: none!important;
}
.dwqa-embed-links a:hover {
  border-bottom: 1px solid #b3b3b3!important;
}