
body.rtl .dwqa-search .dwqa-search-form .dwqa-search-submit, .dwqa-search .dwqa-search-form .dwqa-search-clear, .dwqa-search .dwqa-search-form .dwqa-search-loading{
  left: auto;
  right: 6px;
}
body.rtl .dwqa-submit-question .input-title .dwqa-search-clear, .dwqa-submit-question .input-title .dwqa-search-loading{
  left: 6px;
  right: auto;   
}

body.rtl .dwqa-single-question .dwqa-comment-actions{
  right: auto;
  left: 20px;
}
body.rtl .dwqa-single-question .dropdown-toggle.circle+.dwqa-dropdown-menu {
  left: -5px;
  right: auto;
}
body.rtl .dwqa-dropdown-menu .dwqa-dropdown-caret{
  right: auto;
  left: 11px;
}

body.rtl .dwqa-single-question .dwqa-comment-author .avatar{
  right: 20px;
  left: auto;
}

@media (min-width: 480px){
body.rtl .dwqa-single-question .dwqa-comment {
  padding-right: 70px;
  padding-left: 20px;
}
}

body.rtl .dwqa-single-question .dwqa-dropdown-menu{
  right: auto;
}