/* Single Question */

.dwqa-question-item {
	padding: 0 0 0 70px;
	position: relative;
}

.dwqa-question-item .avatar {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 48px;
}

.dwqa-question-item .dwqa-question-meta {
	font-size: small;
	margin-bottom: 20px;
}

.dwqa-question-vote {
	position: absolute;
	top: 70px;
	left: 4px;
	min-height: 80px;
}

.dwqa-question-vote .dwqa-vote {
	display: block;
	width: 0;
	height: 0;
	border: 20px solid transparent !important;
	border-bottom-color: #ddd !important;
	text-indent: -9999px;
	position: absolute;
	top: -20px;
}

.dwqa-question-vote .dwqa-vote-count {
	width: 40px;
	text-align: center;
	top: 20px;
	position: absolute;
	display: block;
	height: 40px;
	line-height: 40px;
}

.dwqa-question-vote .dwqa-vote:hover,
.dwqa-question-vote .dwqa-vote:active {
	border-bottom-color: #999 !important;
}

.dwqa-question-vote .dwqa-vote-down {
	border: 20px solid transparent !important;
	border-bottom-color: transparent !important;
	border-top-color: #ddd !important;
	top: auto;
	bottom: -20px;
}

.dwqa-question-vote .dwqa-vote-down:hover,
.dwqa-question-vote .dwqa-vote-down:active {
	border-bottom-color: transparent !important;
	border-top-color: #999 !important;
}

.dwqa-question-item .dwqa-question-actions {
	float: right;
}

/* Breadcrumbs */
.dwqa-breadcrumbs {
	margin-bottom: 20px;
}

/* Question Search */
.dwqa-search {
	margin-bottom: 20px;
}

.dwqa-search input {
	width: 100%;
}

/* Question Filter */
.dwqa-question-filter {
	margin-bottom: 20px;
}

.dwqa-question-filter span,
.dwqa-question-filter a {
	margin-right: 10px;
}

.dwqa-question-filter a {
	border: none !important;
	text-decoration: none;
}

.dwqa-question-filter a.active {
	border-bottom: 1px solid #ddd !important;
}

/* Question List */
.dwqa-questions-list {
	border-top: 1px solid #ddd;
}

.dwqa-questions-list .dwqa-question-item {
	border-bottom: 1px solid #ddd;
	padding: 15px 160px 15px 70px;
}

.dwqa-questions-list .dwqa-question-item .avatar {
	top: 50%;
	margin-top: -24px;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-meta {
	margin-bottom: 0;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	right: 0;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats span {
	min-width: 48px;
	height: 48px;
	border: 1px solid #ddd;
	display: block;
	float: left;
	margin-left: 5px;
	text-align: center;
	font-size: 11px;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats strong {
	font-size: 14px;
	line-height: 28px;
	display: block;
	font-weight: normal;
}

/* Single Question */
.single .dwqa-questions-item {
	min-height: 160px;
}

.dwqa-comments-list {
	border-top: 1px solid #ddd;
	font-size: small;
}

.dwqa-comments-list .dwqa-comment {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.dwqa-comment-form {
	padding: 20px 0;
}

.dwqa-comment-form textarea {
	width: 100%;
}

/* Single Answer */

.dwqa-answer-item {
	padding: 0 0 0 70px;
	position: relative;
}

.dwqa-answer-item .avatar {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 48px;
}

.dwqa-answer-item .dwqa-answer-meta {
	font-size: small;
	margin-bottom: 20px;
}

.dwqa-answer-vote {
	position: absolute;
	top: 70px;
	left: 4px;
	min-height: 80px;
}

.dwqa-answer-vote .dwqa-vote {
	display: block;
	width: 0;
	height: 0;
	border: 20px solid transparent !important;
	border-bottom-color: #ddd !important;
	text-indent: -9999px;
	position: absolute;
	top: -20px;
}

.dwqa-answer-vote .dwqa-vote-count {
	width: 40px;
	text-align: center;
	top: 20px;
	position: absolute;
	display: block;
	height: 40px;
	line-height: 40px;
}

.dwqa-answer-vote .dwqa-vote:hover,
.dwqa-answer-vote .dwqa-vote:active {
	border-bottom-color: #999 !important;
}

.dwqa-answer-vote .dwqa-vote-down {
	border: 20px solid transparent !important;
	border-bottom-color: transparent !important;
	border-top-color: #ddd !important;
	top: auto;
	bottom: -20px;
}

.dwqa-answer-vote .dwqa-vote-down:hover,
.dwqa-answer-vote .dwqa-vote-down:active {
	border-bottom-color: transparent !important;
	border-top-color: #999 !important;
}

.dwqa-answer-item .dwqa-answer-actions {
	float: right;
}
