/* Question Search */
.dwqa-search {
	margin-bottom: 10px;
}

.dwqa-search input {
	width: 100%;
}

/* Question Filter */
.dwqa-question-filter {
	margin-bottom: 10px;
}

.dwqa-question-filter span,
.dwqa-question-filter a {
	margin-right: 10px;
}

.dwqa-question-filter a.active {
	text-decoration: underline;
}

/* Question List */
.dwqa-questions {
	border-top: 1px solid #ddd;
}

.dwqa-questions .dwqa-question {
	border-bottom: 1px solid #ddd;
	padding: 15px 0 15px 80px;
	position: relative;
}

.dwqa-questions .dwqa-question .avatar {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -24px;
	border-radius: 48px;
}
